{% extends 'base.html' %}

{% block title %}Appointments{% endblock %}

{% block content %}
<h1>Appointments</h1>
<a href="{% url 'create_appointment' %}">Create Appointment</a>
<ul>
    {% for appointment in appointments %}
    <li>
        <a href="{% url 'appointment_detail' appointment.pk %}">Appointment #{{ appointment.pk }} - {{
            appointment.service }} on {{ appointment.appointment_date }}</a>
        <a href="{% url 'edit_appointment' appointment.pk %}">Edit</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}