{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="card">
    <div>
        <section id="hero-image">
            <div id="search">
                <h2 id="booking"></h2>
                <form method="post" action="{% url 'appointment_create' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Book Now</button>
                </form>
                <a href="{% url 'appointment_list' %}">Back to Appointments</a>
            </div>
        </section>
    </div>
</div>
{% endblock %}