<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Service Booking</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <div class="container">
            <h1>Car Service Booking</h1>
            <nav>
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./services.html">Services</a></li>
                    <li><a href="./team.html">Our team</a></li>
                    <li><a href="./signup.html">login/signup</a></li>

                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="search">
            <h2>BOOK AN APPOINTMENT </h2>
            <form action="/search" method="get">
                <input type="text" id="service" name="service" placeholder="Get a date now" required>

                <button type="submit">Search</button>
            </form>
            {% extends 'base.html' %}

            {% block title %}Home{% endblock %}

            {% block content %}
            <h1>Welcome to Car Services</h1>
            <p>Your one-stop solution for all car services.</p>
            {% endblock %}

        </section>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 Car Service Booking. All rights reserved.</p>
            <p><a href="#contact">Contact Us</a></p>
        </div>
    </footer>
</body>

</html>