<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Service Booking</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
    <header>
        <div class="container">
            <img src="../../static/images/Logo.png" alt="logo" id="logo">
            <h1>The Car Service You Can Trust</h1>
            <nav>
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./services.html">Services</a></li>
                    <li><a href="./base.html">Our Team</a></li>
                    <li><a href="./signup.html">Register/Login</a></li>

                </ul>
            </nav>
        </div>
    </header>

    <main>
        <section id="HeroImage">
        <div id="search">
            <h2 id="Booking">BOOK AN APPOINTMENT</h2>
            <form action="/search" method="get">
                <input type="text" id="service" name="service" placeholder="Get a date now" required>
                <button type="submit">Book Now</button>
            </form>
        </div>
    </section>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 Car Service Booking. All rights reserved.</p>
            <p><a href="#contact">Contact Us</a></p>
        </div>
    </footer>
</body>
</html>