{% extends 'base.html' %}

{% block title %}Home - Django Titans Car Services{% endblock %}

{% block content %}
<div>
    <section id="hero-image">
        <div id="landing-content">
            <h1>Welcome to Django Titans Car Services</h1>
            <p>Your go-to platform for car maintenance, repairs, and more.</p>
            <div id="landing-buttons">
                <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
                <a href="{% url 'login' %}" class="btn btn-secondary">Login</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}