<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Service Booking</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <h1>Car Service Booking</h1>
            <nav>
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./services.html">Services</a></li>
                    <li><a href="./team.html">Our team</a></li>
                    <li><a href="./signup.html">login/signup</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="row card-container container-fluid">
        <div class="card col-4">
            <img src="../../static/images/FullService.png" alt="FullService" class="card-image">
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullServiceModal">
                    Full Service
                </button>
            </div>
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="fullServiceModal" tabindex="-1" aria-labelledby="fullServiceModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="fullServiceModalLabel">Full Service</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Detailed information about the Full Service will be here.
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-4">
            <img src="../../static/images/FaceLifting.png" alt="FaceLifting" class="card-image">
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#faceLiftingModal">
                    Face Lifting
                </button>
            </div>
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="faceLiftingModal" tabindex="-1" aria-labelledby="faceLiftingModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="faceLiftingModalLabel">Face Lifting</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Detailed information about the Face Lifting will be here.
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-4">
            <img src="../../static/images/Detailing.png" alt="Detailing" class="card-image">
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detailingModal">
                    Detailing
                </button>
            </div>
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="detailingModal" tabindex="-1" aria-labelledby="detailingModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="detailingModalLabel">Detailing</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Detailed information about the Detailing will be here.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row card-container container-fluid" id="card">
        <div class="card col-4">
            <img src="../../static/images/MOT.png" alt="MOT" class="card-image">
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#motModal">
                    MOT Test
                </button>
            </div>
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="motModal" tabindex="-1" aria-labelledby="motModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="motModalLabel">MOT Test</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Detailed information about the MOT Test will be here.
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-4">
            <img src="../../static/images/Tyres.png" alt="Tyres" class="card-image">
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tyresModal">
                    Change Tyres
                </button>
            </div>
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="tyresModal" tabindex="-1" aria-labelledby="tyresModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="tyresModalLabel">Change Tyres</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Detailed information about the Change Tyres will be here.
                    </div>
                </div>
            </div>
        </div>

        <div class="card col-4">
            <img src="../../static/images/Tininting.png" alt="Tinting" class="card-image">
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tintingModal">
                    Tint Windows
                </button>
            </div>
        </div>
    
        <!-- Modal -->
        <div class="modal fade" id="tintingModal" tabindex="-1" aria-labelledby="tintingModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="tintingModalLabel">Tint Windows</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Detailed information about the Tint Windows will be here.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 Car Service Booking. All rights reserved.</p>
            <p><a href="#contact">Contact Us</a></p>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
