/* Ensure the container is full height */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgb(107, 78, 3);
    color: white;
    padding: 10px;
    margin-bottom: 0;
}

header .container, footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-left: 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

#logo {
    border-radius: 50%;
    block-size: relative;
    height: 100px;
} 

footer {
    background-color: rgb(107, 78, 3);
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto; /* Pushes footer to the bottom of the page */
}

footer .container {
    width: 90%;
    margin: 0 auto;
}

footer p {
    margin: 0.5rem 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("../../static/images/HeroImage.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh; 
    z-index: -99;
}

#search {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 2rem auto;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search h2 {
    color: #333;
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form input,
form button {
    padding: 0.5rem;
    margin: 0.5rem 0;
    width: 80%; /* Adjust width as needed */
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: rgb(107, 78, 3);
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(190, 180, 119);
}
